In [2]:
import pandas

In [3]:
df1=pandas.read_json('http://pythonhow.com/supermarkets.json')
df1=df1.iloc[3:, :3]
df1

           Address           City Country
3     3995 23rd St  San Francisco     USA
4  1056 Sanchez St  San Francisco     USA
5  551 Alvarado St  San Francisco     USA

In [4]:
df1

           Address           City Country
3     3995 23rd St  San Francisco     USA
4  1056 Sanchez St  San Francisco     USA
5  551 Alvarado St  San Francisco     USA